<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/adduser.css">
    <title>היתחברות</title>
</head>
<body dir="rtl">
        <form action="/adduser" method="POST" class="form" id="adduser">
            <h1 class="Title">משתמש חדש</h1>
            <p class="Subtitle"></p>
            <div class="info"> 
                <div>
                    <p>שם:</p>
                    <input class="userInput" name="name" type="text" autofocus required> 
                </div>
                <div>
                    <p>אמייל:</p>
                    <input class="userInput" name="name" type="text" autofocus required> 
                </div>
                <div>
                    <p>תעודת זהות:</p>
                    <input class="userInput" name="name" type="text" autofocus required> 
                </div>
                <div>
                    <p>טלפון:</p>
                    <input class="userInput" name="name" type="text" autofocus required> 
                </div>
            </div>
            <button class="addButton">הוסף משתמש</button>
        </form>          
</body>
</html>
